@import '../../styles/variables.scss';

.footer {
    font-family: $app-font-family;
    width: 100%;
    background-color: #52839B;
    display: flex;
    margin: 0;
}

.footer-container {
    display: contents;
}

p {
    font-size: 18px;
    padding-left: 35px; 
    padding-right: 100px; 
}

.link-items {
    list-style-type: none;
}

li {
    float: right;
    margin-right: 20px;
}