<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <img class="modal-image" src="{{options.image}}">
    <h4 class="modal-title">{{options.title}}</h4>
    <div>
        <div class="modal-body">
            <p>{{options.message}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="yes()">{{options.yesButtonText}}</button>
            <button type="button" class="btn btn-secondary" (click)="close()">{{options.noButtonText}}</button>
        </div>
    </div>
</div>