<div>
  <div class="app-menu">
    <app-menu></app-menu>
    <a href="#" id="return-to-top" *ngIf="showScrollButton">
      <i class="up-chevron"></i>
    </a>
  </div>
  <div id="#home">
    <app-home></app-home>
  </div>
  <div class="sections">
    <section id="#projects">
      <app-projects></app-projects>
    </section>
    <section id="#about">
      <app-about></app-about>
    </section>
    <section id="#contact">
      <app-contact></app-contact>
    </section>
  </div>
  <app-footer></app-footer>
  <ng-template confirm>
    <app-modal></app-modal>
  </ng-template>
</div>