<div class="about-container" id="#about-section">
  <h1>About me</h1>
  <div class="about-content">
    <h2>Who I am</h2>
    <p class="block-content">
      It has taken a long time to figure out who I am and what I want to
      do with my life. Salt Lake City, Utah in 1975 is where I
      started my strange and wonderful life.
    </p>
    <p class="block-content">
      Even as a child I knew I wanted my name to be known. With that thought
      in my head I tried my hand in many different things, but always went back
      to drawing. As I was growing up I learned about many different artists
      and how unique they are which made me realize that this is where I belong,
      creating beautiful things to make my mark in this world we live in.
    </p>
  </div>
  <div class="mission-content">
    <h2>My mission</h2>
    <p class="mission-block-content">
      Creating robust, reusable, and beautiful UI components and websites for
      ease of access that are visually appealing for all who visit.
    </p>
  </div>

  <!--Hobby image section-->
  <!-- <div class="hobbie-container">
    <h2>Get to know me</h2>
    <div class="img-container" *ngFor="let image of hobbyImages; let select = index;"
      [ngClass]="{'selected': select == selectedIndex}">
      <img src="data:image/png;base64,{{image.imageUrl}}" alt="">
    </div> -->

    <!--</div>-->
    <!-- <div [ngStyle]="{'transform': 'translateY('+ transform + '%' +')', 'transition': '.8s'}">
      <div class="text-container">
        <div class="page-text" *ngFor="let image of hobbyImages; let select = index;"
          [ngClass]="{'selected': select == selectedIndex}">
          <p>{{image.imageName}}</p>
        </div>
      </div>
    </div> -->

    <!-- <div class="slider">
        <div class="slide-button-parent-container" *ngFor="let image of hobbyImages; let x = index" (click)="selected(x)"
          (keypress)="keySelected(x)">
          <div class="select-box">
            <div class="slide-button" [ngClass]="{'slide-button-select': x == selectedIndex}">
            </div>
          </div>
        </div>
      </div>
  </div> -->

  <!--Artwork image section-->
  <!-- <div class="artwork-container">
      <div class="img-container" *ngFor="let image of artworkImages; let select = index;"
        [ngClass]="{'selected': select == selectedIndex}">
        <img id="artImage" src="data:image/png;base64,{{image.imageUrl}}" alt="">
      </div> -->
  
      <!--</div>-->
      <!-- <div [ngStyle]="{'transform': 'translateY('+ transform + '%' +')', 'transition': '.8s'}">
        <div class="text-container">
          <div class="page-text" *ngFor="let image of artworkImages; let select = index;"
            [ngClass]="{'selected': select == selectedIndex}">
            <p>{{image.imageName}}</p>
          </div>
        </div>
      </div> -->
  
      <!-- <div class="slider">
          <div class="slide-button-parent-container" *ngFor="let image of artworkImages; let x = index" (click)="selected(x)"
            (keypress)="keySelected(x)">
            <div class="select-box">
              <div class="slide-button" [ngClass]="{'slide-button-select': x == selectedIndex}">
              </div>
            </div>
          </div>
        </div>
    </div> -->

    <!--Family image section-->
    <!-- <div class="family-container">
        <div class="img-container" *ngFor="let image of familyImages; let select = index;"
          [ngClass]="{'selected': select == selectedIndex}">
          <img src="data:image/png;base64,{{image.imageUrl}}" alt="">
        </div> -->
    
        <!--</div>-->
        <!-- <div [ngStyle]="{'transform': 'translateY('+ transform + '%' +')', 'transition': '.8s'}">
          <div class="text-container">
            <div class="page-text" *ngFor="let image of familyImages; let select = index;"
              [ngClass]="{'selected': select == selectedIndex}">
              <p>{{image.imageName}}</p>
            </div>
          </div>
        </div> -->
    
        <!-- <div class="slider">
            <div class="slide-button-parent-container" *ngFor="let image of familyImages; let x = index" (click)="selected(x)"
              (keypress)="keySelected(x)">
              <div class="select-box">
                <div class="slide-button" [ngClass]="{'slide-button-select': x == selectedIndex}">
                </div>
              </div>
            </div>
          </div>
      </div> -->
</div>