<div class="home">
  <img class="rectangle-logo" src="../../../../src/app/assets/images/rectangle.svg" alt="rectangle"/>
  <img class="small-circle-logo" src="../../../../src/app/assets/images/small-circle.svg" alt="small-circle"/>
  <img class="large-circle-logo" src="../../../../src/app/assets/images/large-circle.svg" alt="large-circle"/>
  <img class="box-logo" src="../../../../src/app/assets/images/out-of-the-box.svg" alt="box"/>
  <div class="rectangle"></div>
  <div class="caption-section">
    <h1>Abel Saiz</h1>
    <h3>Front-end Developer and QA</h3>
    <p>Where thinking outside of the box is the norm and <br />
      questioning provides better solutions for products</p>
      <a href="https://github.com/A-Saiz" target="blank">See projects</a>
  </div>
</div>
