<div class="home" id="home-container">
  <div id="images-container">
    <img id="rectangle-logo-img" src="assets\rectangle.svg" alt="rect-logo"/>
    <img id="small-circle-img" src="assets\small-circle.svg" alt="small-circle">
    <img id="large-circle-img" src="assets\large-circle.svg" alt="large-circle">
    <img id="box-img" src="assets\out-of-the-box.svg" alt="man-in-box">
  </div>
  <div class="rectangle"></div>
  <div class="caption-section">
    <h1>Abel Saiz</h1>
    <h3>Front-end Developer and QA</h3>
    <p>Where thinking outside of the box is the norm and <br />
      questioning provides better solutions for products</p>
      <a href="https://github.com/A-Saiz" target="blank">See projects</a>
  </div>
</div>
