@import '../../../styles/variables.scss';

.home {
    font-family: $app-font-family;
    height: 1250px;
    position: relative;
    top: -22px;
    width: 100%;

    .caption-section {
        left: 8%;
        position: absolute;
        top: 32%;

        a {
            color: $app-color;
            font-size: 28px;
            margin: 0;
            text-decoration: none;
        }
        
        h1 {
            font-size: 56px;
            margin: 0;
        }
        
        h3 {
            font-size: 40px;
            margin: 0;
        }
        
        p {
            color: $section-header-color;
            font-size: 28px;
        }
    }

    .large-circle-image {
        left: 74%;
        position: absolute;
        top: 8%;
    }

    .out-of-box-image {
        left: 45%;
        position: absolute;
        top: 17%;

        transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -o-transform: scaleX(-1);

        -ms-filter: fliph; /*IE*/
        filter: fliph; /*IE*/
    }

    .rectangle {
        background-image: linear-gradient(to top, white, #52839B 20%);
        border: none;
        box-sizing: border-box;
        float: right;
        height: inherit;
        width: 641px;
    }

    .rectangle-image {
        left: 5.5%;
        position: absolute;
        top: 7%;
        transform: rotate(25deg);
    }

    .small-circle-image {
        left: 30%;
        position: absolute;
        top: 54%;
    }
}