.home {
    height: 1086px;
    position: relative;
    top: -22px;
    width: 100%;
}

.out-of-box-image {
    position: absolute;
    /*TODO: Abel Fix position*/
    margin: 200px 0 0 950px;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

.rectangle-image {
    transform: rotate(25deg);
    margin: 76px 0 0 110px;
    position: absolute;
}

.rectangle {
	box-sizing: border-box;
	height: 1086px;
    width: 641px;
    float: right;
    border: none;
    background-image: linear-gradient(to top, white, #52839B 20%);
	
}