//Common breakpoints
//xlarge-device = @media all and (min-width:1200px){ ... }
//large-device = @media all and (min-width: 960px) and (max-width: 1199px) { ... }
//medium-device = @media all and (min-width: 768px) and (max-width: 959px) { ... }
//small-device = @media all and (min-width: 480px) and (max-width: 767px){ ... }
//xsmall-device = @media all and (max-width: 599px) { ... }
//xxsmall-device = @media all and (max-width: 479px) { ... }

@mixin xxsmall-device {
    @media only screen and (max-width: 479px) {
        @content;
    }
}

@mixin xsmall-device {
    @media only screen and (max-width: 559px) {
        @content;
    }
}

@mixin small-device {
    @media only screen and (min-width: 480px) and (max-width: 767px) {
        @content;
    }
}

@mixin medium-device {
    @media only screen and (min-width: 768px) and (max-width: 959px) {
        @content;
    }
}

@mixin large-device {
    @media only screen and (min-width: 960px) and (max-width: 1199px) {
        @content;
    }
}

@mixin xlarge-device {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}

@mixin home-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

@mixin section-container {
    height: 100vh;
    display: inline;
    width: 100%;
    overflow: hidden;
}

@mixin section-header {
    border-bottom: 1px solid darkgray;
    display: block;
    font-size: 50px;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%; 
}

@mixin link-hover-size {
    height: 51px;
    width: 51px;
}

// @mixin image-container($element) {
//     @at-root .#{$element} {
//         display: flex;
//         height:100vh;
//         width: 100%;
//         overflow: hidden;

//         .img-container {
//             position: absolute;
//             left: 0;
//             margin-top: 100px;
//             width: 100%;
//             opacity: 0;
//             height: auto !important;
//             background-size: cover;
//             background-position: center;
//             will-change: opacity;
//             transition: opacity .3s;

//             img {
//                 //max-width: 100%;
//                 height: 400px;
//                 width: 350px;
//                 text-align: center;
//                 display: block;
//                 margin-left: auto;
//                 margin-right: auto;
//             }
//         }
          
//         .text-container {
//             height: 100vh;
//             justify-content: center;
//             display: flex;
//             align-items: center;
//             flex-direction: column;

//             .page-text {
//                 min-height: 373px;
//                 width: 50%;
//                 height: 100%;
//                 opacity: 0;
//                 font-weight: 300;
//                 font-size: 90px;
//                 color: black;
//             }
//         }

//         .selected {
//             opacity: 1;
//             transition: 1s;
//         }

//         .slider {
//             position: absolute;
//             //right: 80px;
//             opacity: 0.5;
//             left: 64%;
//             margin: 95px auto;
//             z-index: 1;
//             min-width: 30px;
          
//             .slide-button-parent-container {
//                 position: relative;
//                 margin: 5px 0;
//                 min-height: 4px;
    
//                 .select-box {
//                     min-height: 10px;
    
//                     .slide-button {
//                         width: 30px;
//                         height: 6px;
//                         background-color: rgba(0, 0, 0, 0.8);
//                         cursor: pointer;
//                         position: absolute;
//                     }
    
//                     .slide-button:hover, .slide-button-select {
//                         width: 64px !important;
//                         background-color: black !important;
//                         cursor: pointer;
//                         transition: background-color .4s, width 4s cubic-bezier(0.190, 1.000, 0.220, 1.000) !important;
//                     }
//                 }
//             }
//         }
//     }
// }