//App-Font
$app-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

//App images
$rectangle-img: url('../../assets/images/rectangle.svg');
$small-rectangle-img: url('../../assets/images/rectangle-mobile.svg');
$small-circle-img: url('../../assets/images/small-circle.svg');
$small-circle-mobile-img: url('../../assets/images/small-circle-mobile.svg');
$large-circle-img: url('../../assets/images/large-circle.svg');
$box-man-img: url('../../assets/images/out-of-the-box.svg');

//Link Shadow onHover
$link-shadow-color: darkslategrey;