<div class="menu-container" *ngIf="menuItems; else loading">
  <ul class="menu-items">
    <li [ngClass]="{'active': selectedItem == menuItem}" 
        *ngFor="let menuItem of menuItems" 
        (click)="itemClick(menuItem.stringValue)">
      <a class="item">{{menuItem.stringValue}}</a>
    </li>
    <li class="link">
        <a href={{gitHubLink}} target="blank">
          <img src="assets/github-icon.svg" alt="Github"/>
        </a>
    </li>
  </ul>
</div>
<ng-template #loading>Loading Menu...</ng-template>
