@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.menu-container {
    //position: fixed;
    z-index: 1;
    //background-color: white;
}

.menu-items {
    padding-top: 15px;

    li {
        display: inline-flex;
        list-style-type: none;
    }
}

.item {
    cursor: pointer;
    font-family: $app-font-family;
    font-weight: 500;
    font-size: 18px;
    margin: 0 65px 0 0;

    &:hover &:active {
        font-style: italic;  
    }

    @include xxsmall-device {
        font-weight: 600;
        font-size: 14px;
        margin: 0 35px 0 0;
    }

    @include xsmall-device {
        font-weight: 600;
        font-size: 15px;
        margin: 0 38px 0 0;
    }

    @include small-device {
        font-size: 17px;
        margin: 0 48px 0 0;
    }

    @include medium-device {
        font-size: 20px;
        margin: 0 40px 0 0;
    }
}

.link {
    list-style-type: none;
    position: absolute;
    z-index: 1;

    @include small-device {
        background-color: #52839B;
        border-radius: 15%;
        right: 2%;

        a {
            img {
                padding-top: 1px;
                margin: 0 -1px 1px -1px;
                &:hover {
                    @include link-hover-size;
                    border-radius: 50%;
                    box-shadow: 6px 7px 10px 2px darkslategrey;
                }
            }
        }
    }

    @include medium-device {
        right: 0%;

        a {
            img {
                width: 90%;
                &:hover {
                    @include link-hover-size;
                    border-radius: 50%;
                    box-shadow: 6px 7px 10px 2px $link-shadow-color; 
                }
            }
        }
    }

    @include large-device {
        right: 1%;

        a {
            img {
                &:hover {
                    @include link-hover-size;
                    border-radius: 50%;
                    box-shadow: 6px 7px 10px 2px $link-shadow-color; 
                }
            }
        }
    }

    @include xlarge-device {
        right: 2%;

        a {
            img {
                &:hover {
                    @include link-hover-size;
                    border-radius: 50%;
                    box-shadow: 6px 7px 10px 2px $link-shadow-color; 
                }
            }
        }
    }
}
