<div class="projects-container" id="#projects-section"> 
  <div id="header-container">
      <h1>My work</h1>
  </div>
  <div class="about-content">
    <h2>Just because I want to</h2>
    <p class="block-content">
      I decided to create a few components to incorporate different
      api's. Through time this will continue to grow and change as
      my knowledge increases. Hope you enjoy and have FUN! 
    </p>
  </div>
  <div id="caption">
      <p>Here are a few apps to play with</p>
  </div>
  <div class="here-geocoords-app-container" id="project-row">
    <div class="text-container">
      <div class="text-block">
        <h2 class="text-headline">Here Geocoords API</h2>
        <p class="text-body">The Here geocoords is something I have worked with when I was employed at PRMI so we could get the distance to different branches for the company.</p>
      </div>   
    </div>
    <div class="app-container">  
      <app-here></app-here>
    </div>
  </div>
  <hr>
  <div class="news-container" id="project-row">
    <div class="text-container">
      <div class="text-block">
        <div class="text-headline">News anyone?</div>
        <p class="text-body">Check out the latest news from <a href="https://newsapi.org" target="blank">NewsAPI</a>.</p>
      </div>
    </div>
    <div class="news-app-container">
      <app-news></app-news>
    </div>
  </div>
  <div id="more-to-come-container">
    <h2>More to come...</h2>
  </div>
</div>
