@import '../../styles/mixins.scss';

.projects-container {
    @include section-container;

    h1 {
        @include section-header;
    }

    .about-content {
        max-width: 85%;
        margin: auto;
        padding: 80px 8%;
    }

    h2 {
        font-size: 50px;
        font-weight: 700;
        color: #000;
        text-align: center;
        white-space: pre-wrap;
        margin: 0 auto;
    }

    .block-content {
        font-size: 16px !important;
        text-align: left;
        line-height: 40px;
        white-space: pre-wrap;
        word-wrap: break-word;
        letter-spacing: 0.2em;
        margin: 20px;
    }
}

#caption {
    text-align: center;
    p {
        display: inline-block;
        font-size: 30px;
        font-weight: 100;
        border-bottom: 2px solid aquamarine;
        margin-bottom: 50px !important;
    }
}

#project-row {
    max-width: 90%;
    margin: 32px auto;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.2), -30px 0px 40px rgba(0, 0, 0, 0.2);

    @include xsmall-device {
        text-align: center;
        text-align: -webkit-center;
        padding-bottom: 5vh;
    }

    @include small-device {
        text-align: center;
        text-align: -webkit-center;
        padding-bottom: 5vh;
    }
}

hr {
    border: none;
    background: #dbdbdb;
    height: 1px;
}

.here-geocoords-app-container {

    @include large-device {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }
}

.news-container {
    @include large-device {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }
}

.news-app-container {
    position: relative;
    height: 90vh;

    @include large-device {
        width: 35vw;
        margin-right: 15px;
        margin-left: 20px;
    }

    @include xsmall-device {
        max-width: 90% !important;
    }
}

.text-container {
    @include large-device {
        max-width: 50%;
    }

    @include xsmall-device {
        max-width: 90%;
    }
}

.text-block {
    @include large-device {
        padding-right: 15%;
    }

    @include xsmall-device {
        padding-right: 0;
    }
}

.text-headline {
    font-size: 1.5rem;
    font-weight: 500;
    color: #1976d2;
    margin-top: 25px;
    text-transform: uppercase;
}

.text-body {
    margin: 14px 0 0;
    //put these in seperate mixin
    font-size: 1.2rem;
    line-height: 2.2rem;
    letter-spacing: .03rem;
    font-weight: 400;
    color: #444;
}

@keyframes text-pulse {
    0% {
        opacity: 0.5;
    }
    50%{
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}

#more-to-come-container {
    h2 {
        animation: text-pulse 3s infinite;
        text-align: center;
        color: mediumslateblue;
        padding-bottom: 3rem;
    }
}
        
    
