<div class="projects-container" id="#projects-section"> 
  <div id="header-container">
      <h1>My work</h1>
  </div>
  <div id="caption">
      <p>Here are a few apps to play with</p>
  </div>
  <div class="here-geocoords-app-container">
    <div>  
      <app-here></app-here>
    </div>
    <div class="text-container">
        <p class="text-body">The Here geocoords is something I have worked with when I was employed at PRMI so we could get the distance to different branches for the company.</p>   
    </div>
  </div>
</div>
