@import '../../styles/mixins.scss';

.projects-container {
    @include section-container;

    h1 {
        @include section-header;
    }
}

#caption {
    text-align: center;
    p {
        display: inline-block;
        font-size: 30px;
        font-weight: 100;
        border-bottom: 2px solid aquamarine;
    }
}

.here-geocoords-app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    .geocoords-app {
        max-width: 50%;
    }

    .text-container {
        padding-right: 15%;

        .text-body {
            margin: 14px 0 0;
        }
    }
}