//Colors
$app-color: #52839B;
$section-header-color: #868587; 

//Fonts
$app-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;